@charset "utf-8"
/*CSS Document*/
body {
  background-color: red;
}

h1, h2 {
  color: cadetblue;
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
p {color: aqua;
font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
font-size: 18px;
line-height: 18px;
width: 600px;
background-color: #016F6A;
padding: 20px;
}
